#map {
  z-index: -1;
  .slider-wrap {
    z-index: 2;
    position: fixed;
    bottom: 0;
    height: 210px;
    width: 100%;
    transition: all .3s ease-out;
    padding-bottom: 70px;
    .lane-container {
      background-color: white;
      border-radius: 8px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
  }
  .active {
    height: 85%;
    transition: all .3s ease-out;
  }
}

.toggle-wrap {
  border: solid 1px transparent; // weird issue going on with toggle padding so I just added this transparent div to fix it
  .slider-toggle {
    // border: solid 1px blue;
    width: 70px;
    height: 5px;
    border-radius: 4px;
    background-color: $c-lightgray;
    margin: 10px auto;
  }
}

.lane-wrap {
  margin: 20px 10px;
  .lane-details {
    margin: 20px auto;
    .lane-type, .lane-rating {
      margin: 20px 10px;
      padding: 0;
    }
  }
}

.cyclee-map-add {
  z-index: 1;
}
