#map {
  z-index: -1;
  .slider-wrap {
    border: solid 1px blue;
    z-index: 2;
    position: fixed;
    bottom: 0;
    height: 100vh;
    overflow: scroll;
    padding: 500px 0 60px 0;
    .lane-container {
      padding-top: 5px;
      background-color: white;
    }
  }
}

.bar {
  width: 80px;
  height: 5px;
  border-radius: 4px;
  background-color: $c-lightgray;
  margin: auto;
}
.lane-wrap {
  margin: 40px 10px;
  .lane-type, .lane-rating {
    margin: 15px 10px;
    padding: 0;
  }
}

.cyclee-map-toggle {
  z-index: 1;
}
