#map {
  z-index: -1;
  .slider-wrap {
    z-index: 2;
    // height: 40vh;
    height: 100vh;
    position: fixed;
    bottom: 0;
    overflow: scroll;
    padding-top: 600px;
    padding-bottom: 60px;
    .lane-container {
      padding-top: 5px;
      background-color: white;
      // position: absolute;
      // top: 0;
    }
  }
}

.bar {
  width: 80px;
  height: 5px;
  border-radius: 4px;
  background-color: $c-lightgray;
  margin: auto;
}
.lane-wrap {
  margin: 40px 10px;
  .lane-type, .lane-rating {
    margin: 15px 10px;
    padding: 0;
  }
}

.cyclee-map-toggle {
  z-index: 1;
}

.cyclee-map-add {
  z-index: 1;
}
