// .container.location-new {
//   input {
//     height: 45px;
//     padding-left: 4px;
//     margin-left: 2px;
//     border-radius: 5px;
//   }
//   .mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
//     width: 400px;
//     svg {
//       top: 12px;
//     }
//     input {
//       padding-left: 35px;
//     }
//   }
// }
.container.location-new {
  form {
    label {
      display: none;
    }
    input {
      border: 1px solid $c-darkgray;
      height: 45px;
      padding-left: 4px;
      margin-left: 2px;
      border-radius: 5px;
      width: 100%;
    }
    .parking_location_address {
      display: flex;
      justify-content: center;
    }
    .mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
      width: 100%;
      margin: 0 !important;
      svg {
        top: 12px;
      }
      input {
        padding-left: 35px;
      }
    }
  }
}
