.devise-content {
  padding: 0px 20px 0px 20px;
  h1 {
    text-align: left;
    margin: 0px;
  }

}

.regist-container {
  height: 100vh;
  // padding: 20px 0 70px 0;
  overflow: hidden;
  background-color: white;
}
