.new-report-container {
  background-color: white;
  height: 100vh;
  padding-top: 5px;
  .parking-wrap {
    margin-top: 50px;
  }
  .form-new-report {
    margin: 20px;
    .input {
      background-color: white;
      border: solid 1px $c-lightgray;
    }
    .btn-cyclee1 {
      margin-top: 30px;
    }
  }
}
