.slider-wrap {
  z-index: 2;
  position: fixed;
  bottom: 0;
  height: 210px;
  transition: all .3s ease-out;
  .container {
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}

.parking-wrap {
  padding: 0 10px;
  .cyclee-report-card-address {
    margin-top: 20px;
    .fa-square-parking {
      margin-right: 10px;
    }
    .fa-square-parking.no-report {
      color: $c-darkgray;
    }
    .fa-square-parking.report {
      color: $c-red;
    }
    .cyclee-report-card-title {
      .address {
        font-size: 18px;
        font-weight: 500;
        line-height: 20px;
      }
      .incidents {
        margin-top: 5px;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}

.report-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}
