.slider-wrap {
  z-index: 2;
  position: fixed;
  bottom: 0;
  height: 210px;
  width: 100%;
  transition: all .3s ease-out;
  padding-bottom: 70px;
  .container {
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 0;
  }
}

.address {
  font-size: 18px;
  font-weight: bold;
}
.incidents {
  margin-top: 10px;
  font-size: 16px;
}

.report-buttons {
  display: flex;
  height: 100px;
  justify-content: space-evenly;
  align-items: center;
}


// .parking-wrap {
//   border: solid 1px red;
// }

.review-wrap {
  // border: solid 1px red;
  width: 100%;
}
