.review-container {
  background-color: white;
  height: 100vh;
  padding-top: 5px;
  .cyclee-lane {
    margin: 50px auto 20px auto;
  }
  .form-review {
    margin: 20px;
    .input {
      background-color: white;
      border: solid 1px $c-lightgray;
    }
    .btn-cyclee1 {
      margin-top: 30px;
    }
  }
}
