.review-container {
  background-color: white;
  height: 100vh;
  padding-top: 5px;
  .cyclee-lane {
    margin: 50px auto 20px auto;
  }
  .form-review {
    margin: 20px;
    .input {
      background-color: white;
      border: solid 1px $c-lightgray;
    }
    .btn-cyclee1 {
      margin-top: 30px;
    }
  }
}

// .partial {
//   height: 35vh;
//   label {
//     display: none;
//   }
//   form {
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     .input-wrap {
//       margin: 0 !important;
//     }
//   }
// }

.cyclee-review {
  width: 100% !important;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  p {
    font-weight: bold;
    margin: 0;
    color: white;
  }
}
