.user-container {
padding: 20px;

}

.user-profile-contents {
  display: flex;
  padding: 16px;

}
  .text-content {
    font-size: 14px;
    line-height: 18px;
    p {
      margin-bottom: 8px;


    }
  }


.user-container #map {
 margin: 200px 10px;
}


.user-container .cyclee-history {
  margin: 400px 0px;
}
