.user-container {
  background-color: white;
  height: 100vh;
  padding: 20px 0 70px 0;
  overflow: scroll;
  .content-wrap {
    margin: 20px;
  }
}

.user-profile-contents {
  display: flex;
  .cyclee-profile-user {
    img {
      width: 100px;
      height: 100px;
    }
  }
  p {
    font-size: 24px;
    font-weight: bold;
    margin: auto;
    color: $c-darkgray;
  }
}

.parked-wrap {
  .content {
    margin: 20px 0;
    h2 {
      margin: 0;
    }
    p {
      margin: 5px 0;
      font-size: 20px;
    }
  }
  .map-wrap {
    #map {
      // z-index: 1;
      width: 350px;
      height: 300px;
    }
  }
}

.history-wrap {
  h2 {
    margin: 20px 0;
  }
  .history {
    .history-content {
      border: solid 1px $c-lightgray;
      border-radius: 5px;
      padding: 0;
      margin: 15px 0;
      display: flex;
      .fa-flag {
        font-size: 25px;
        margin: auto 0 auto 20px;
      }
      .content {
        margin-left: 15px;
        padding: 10px 0;
        p {
          font-size: 14px;
          font-weight: normal;
          margin: 0;
        }
      }
    }
  }
}
