.avatar-profile-container {
  padding-top: 40px;
  background-color: #ffffff;
  height: 100vh;
  width: 100%;
}

.avatar-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-content {
  margin: 0px 20px;
}
