<div class="container">

    <p><%= current_user.photo.present? ? (cl_image_tag current_user.photo.key, width: 120, height: 120, crop: :fill, class: "rounded-circle") : (image_tag "logo.png", crop: :fill, class: "avatar") %></p>



    <h2>Update your Avatar Photo</h2>
    <%= simple_form_for(current_user) do |f| %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Submit", class: "btn btn-cyclee2" %>
      <% end %>
</div>
