<div class="footer-cyclee">
  <%= link_to root_path do %>
    <i class="fa-solid fa-location-dot fa-2xl"></i>
  <% end %>
  <%= link_to root_path do %>
    <i class="fa-solid fa-map-pin fa-2xl"></i>
  <% end %>
  <%= link_to root_path do %>
    <i class="fa-solid fa-person-biking fa-2xl"></i>
  <% end %>
</div>
