<div class="accordion-item">
  <h2 class="accordion-header" id="headingOne">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%= lane.id %>" aria-expanded="false" aria-controls="collapseOne">
      <%= lane.name %>
    </button>
  </h2>
  <div id="collapse-<%= lane.id %>" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body" data-controller="review-submit">
      <%= render 'lanes/form', lane: lane, review: review %>
    </div>
  </div>
</div>
