<div style="width: 390px; height: 844px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<%= render "shared/reportcard", user: @user, report: @report %>
<%= render "shared/lanereviewcard", user: @user, review: @review, lane: @lane %>
