<h1>  this is index</h1>

<%= link_to "Get Current Location", root_path, class: "btn btn-cyclee3" %>
<br>
<%= link_to "Park", root_path, class: "btn btn-cyclee2" %>

<% @parking_locations.each do |parking_location| %>
<p><%= parking_history.created_at %></p>
<p><%= parking_location.address %></p>
<% end %>
</div>
