<p></p>
<br>
<%# <%= link_to "Get Current Location", root_path, class: "btn btn-cyclee3" %>
  <div data-controller="parking"
        data-parking-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      <div id="parkingmap" style="width: 350px; height: 300px;"
        data-parking-target="parker"
        data-parking-markers-value="<%= @markers.to_json %>"></div>
    <%# <button class="mapboxgl-ctrl-geolocate" type="button" data-action="click->parking#trackMe">Click Me!</button> %>
  </div>

<br>
 <%# <%= link_to "Create", new_parking_location(parking_location), class: "btn btn-cyclee2" %>
