<p> Pin a new parking spot: </p>
<%= link_to "Get Current Location", root_path, class: "btn btn-cyclee3" %>
<br>
 <%= link_to "Create", new_parking_location(parking_location), class: "btn btn-cyclee2" %>
