.btn-cyclee1 {
  color: #616161;
  border-radius: 4px;
  font-size: 18px;
  border: 1px solid $c-darkgray;
  width: 166px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: $c-darkgray;
    color: white;
  }
}

.btn-cyclee2 {
  color: #ffffff;
  border-radius: 4px;
  font-size: 18px;
  border: 1px solid $c-darkgray;
  width: 166px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $c-darkgray;
  line-height: 18px;
  &:hover {
    background-color: white;
    color: $c-darkgray;
  }
}

.btn-cyclee3 {
  color: $c-darkgray;
  border-radius: 4px;
  font-size: 18px;
  border: 1px solid $c-darkgray;
  width: 370px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: $c-darkgray;
    color: white;
  }
}

.btn-cyclee4 {
  color: white;
  border-radius: 4px;
  font-size: 18px;
  border: 1px solid $c-red;
  width: 166px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $c-red;
  line-height: 18px;
  &:hover {
    background-color: white;
    color: $c-red;
  }
}

.btn-cyclee5 {
  color: #ffffff;
  border-radius: 4px;
  font-size: 18px;
  border: 1px solid $c-darkgray;
  width: 120px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $c-darkgray;
  line-height: 18px;
  &:hover {
    background-color: white;
    color: $c-darkgray;
  }
}
