.cyclee-report-card-address {
  width: 350px;
  height: 130px;
  background: transparent;
  border-radius: 5px;
  // border: 1px solid $c-red;
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 1px 1px 1px 1px;
  .fa-flag {
    padding: 40px 24px;
    color: $c-red;
  }
  .cyclee-report-card-title {
    padding: 24px 0;
    h2 {
      font-weight: bold;
    }
    p {
      font-size: 16px;
    }
  }
}

.cyclee-card {
  width: 100%;
  .cyclee-card-image {
    width: 100%;
    height: 248px;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      object-fit: contain;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .cyclee-card-contents {
    display: flex;
    padding: 16px;
    height: auto;
    .cyclee-card-user {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 16px;
      img {
        border-radius: 50%;
        width: 57px;
        height: 57px;
      }
    }
    .text-content {
      font-size: 14px;
      line-height: 18px;
      p {
        margin-bottom: 8px;
      }
    }
  }
}

.cyclee-history {
  display: flex;
  align-items: center;
  padding: 24px;
  height: 90px;
  width: 370px;
  border: 1px solid $c-lightgray;
  border-radius: 4px;
  .fa-map-pin {
    color: $c-green;
  }
  .fa-flag {
    color: $c-red;
  }
  .cyclee-history-content {
    margin: 16px;
    flex-grow: 1;
    p {
      margin: 0;
    }
  }
}



.cyclee-route-card {
  &:first-child {
    border-top: 1px solid $c-lightgray;
  }
  width: 100%;
  height: 106px;
  border-bottom: 1px solid $c-lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  .cyclee-lanes {
    display: flex;
    justify-content: space-evenly;
  }
  h1 {
    margin: 0;
    margin-left: 8px;
    color: $c-darkgray;
  }
}

.cyclee-direction-card {
  display: flex;
  width: 331px;
  height: 82px;
  background-color: #ffffff;
  border-radius: 4px;
  color: $c-darkgray;
  align-items: center;
  padding: 16px 32px;
  box-shadow: 1px 1px 1px 1px;
  .cyclee-direction-text {
    margin: 0 24px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    h1, h2 {
      margin: 0;
      align-self: center;
      font-weight: bold;
    }
  }
}
