.cyclee-report-card-address {
  width: 350px;
  height: 130px;
  background: transparent;
  border-radius: 5px;
  border: 1px solid $c-red;
  display: flex;
  .fa-flag {
    padding: 40px 24px;
    color: $c-red;
  }
  .cyclee-report-card-title {
    padding: 24px 0;
    h2 {
      font-weight: bold;
    }
    p {
      font-size: 16px;
    }
  }
}

.cyclee-report-card{
  width: 100%;
  .cyclee-report-card-image {
    width: 100%;
    height: 248px;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      object-fit: contain;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .cyclee-report-card-contents {
    display: flex;
    padding: 16px;
    height: auto;
    .cyclee-report-card-user {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 16px;
      img {
        border-radius: 50%;
        width: 57px;
        height: 57px;
      }
    }
    .text-content {
      font-size: 14px;
      line-height: 18px;
    }
  }
}


.cyclee-route-card {
  &:first-child {
    border-top: 1px solid $c-lightgray;
  }
  width: 100%;
  height: 106px;
  border-bottom: 1px solid $c-lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  .cyclee-lanes {
    display: flex;
    justify-content: space-evenly;
  }
  h1 {
    margin: 0;
    margin-left: 8px;
    color: $c-darkgray;
  }
}


.cyclee-lanereview-card{
  width: 100%;
  .cyclee-lanereview-card-image {
    width: 100%;
    height: 248px;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      object-fit: contain;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .cyclee-lanereview-card-contents {
    display: flex;
    padding: 16px;
    height: auto;
    .cyclee-lanereview-card-user {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 16px;
      img {
        border-radius: 50%;
        width: 57px;
        height: 57px;
      }
    }
    .text-content {
      font-size: 14px;
      line-height: 18px;
    }
  }
}
