.footer-cyclee {
  height: 71px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
  position: fixed;
  bottom: 0;
  a {
    color: $c-lightgray
  }
  .fa-location-dot:active {
    color: $c-darkgray;
  }
  .fa-person-biking:active {
    color: $c-darkgray;
  }
}
