.devise-links {
  width: 390px;
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0px 10px 0px;

  align-items: center;
  .btn-cyclee2 {
    width: 166px;
  }

}



.devise-signup {
  width: 390px;
  justify-content: left;
  margin: 10px 0px 10px 20px;

}
