.mapbox-directions-component-keyline{
  margin: 8px !important;
}

.mapboxgl-ctrl-directions {

  margin: 0 !important;

  .directions-control {
    .directions-control-directions{
      height: 225px;
      position: relative;
      top: 521px;
      margin: 0 !important;
      width: 100vw;
    }
  }
}

@media only screen and (max-width: 640px)  {
  .directions-control.directions-control {
    max-width: none !important;
    margin: 0;
  }
}


#navdirection {
  position: absolute;
  bottom: 298px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  #navexitbutton {
    background-color: $c-red;
    color: white;
    font-size: 12px;
  }

  #navreviewbutton{
    background-color: $c-green;
    color: white;
    font-size: 12px;
  }

}

#map > div.mapboxgl-control-container > div.mapboxgl-ctrl-top-left > div > div.directions-control.directions-control-inputs > div > div > button {
  background-color: transparent;
}

#mapbox-directions-destination-input > div > div > button{
  background-color: transparent;
}
