
.mapboxgl-ctrl-directions {
  .mapboxgl-ctrl {
    width: 390px;
  }

  .directions-control {
    .directions-control-directions{
      height: 225px;
      position: relative;
      left: -10px;
      top: 450px;
    }
  }
}

