.new-parking-container {
  height: 100vh;
  background-color: white;
  padding-top: 5px;
}

h1 {
  margin: 50px 20px 20px 20px;
}

.search-wrap {
  margin: 0 20px;
  .new-parking-form-wrap {
    label {
      display: none;
    }
    .mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
      border: solid 1px $c-lightgray;
      border-radius: 5px;
      margin: 0;
      width: 100%;
      svg {
        display: none;
      }
      // .mapboxgl-ctrl-geocoder--input {
      //   border: solid 1px red;
      // }
    }
  }
  .button-wrap {
    // border: solid 1px red;
    margin-top: 30px;
  }
}
