.cyclee-map-toggle {
  position: absolute;
  bottom: 100px;
  left: 309px;
  z-index: 1;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 1px 1px 2px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $c-darkgray;
  .fa-map-pin:active {
    color: $c-red;
  }
}


.cyclee-map-add {
  position: absolute;
  bottom: 190px;
  left: 309px;
  z-index: 1;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 1px 1px 2px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $c-darkgray;
  .fa-map-pin:active {
    color: $c-red;
  }
}
