<div class="slider-wrap" data-controller="slider" data-slider-target="wrap">
  <div class="container">
    <div class="toggle-wrap">
      <div class="slider-toggle" data-action="click->slider#slideToggle"></div>
    </div>
    <div class="parking-wrap">
      <div class="cyclee-report-card-address report-index">
        <i class="fa-solid fa-square-parking"></i>
        <div class="cyclee-report-card-title">
          <p class="m-0 address"><%= @parking_location.address %></p>
          <p class="incidents"><%= @reports.count %> reported incidents of theft or damage.</p>
        </div>
      </div>
      <div class="report-buttons">
        <div class="btn btn-cyclee1"></div>
        <div class="btn btn-cyclee1"></div>
      </div>
    </div>
    <% @reports.each do |report| %>
      <%= render "shared/reportcard", report: report %>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>
